/* Footer.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.footer {
  padding: 40px;
  margin-top: 40px;
  background-color: #F8F8F8; /* Adjust the color to match your design */
  color: #333; /* Base text color */
  font-family: 'Inter', sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px; /* Adjust based on the max width of your layout */
  margin: 0 auto;
}

.branding h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.branding p {
  font-size: 0.875rem;
}

.links ul {
  list-style: none;
  padding: 0;
}

.links li {
  margin-bottom: 0.5rem;
}

.links a {
  color: #333; /* Links color */
  text-decoration: none;
  transition: color 0.3s ease;
}

.links a:hover {
  color: #1a1a1a; /* Links hover color */
}

/* Responsive design adjustments */
@media (max-width: 1024px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .branding, .links {
    margin-bottom: 20px;
  }

  .links ul {
    text-align: center;
  }
}
